* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    width: 90%;
    padding: 20px;
    text-align: center;
}

.screen {
    display: none;
    align-items: center;
    justify-content: center;
}
.screen.active {
    display: block;
    animation: fadeIn 0.5s ease-in;
}

h1, h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hidden {
    display: none;
}

button {
    padding: 12px 24px;
    font-size: 1.1rem;
    background-color: #ff6f61;
    border: none;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}
button:hover {
    transform: scale(1.05);
    background-color: #ff8a75;
}
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.start-banner {
    width: 80%;
    border-radius: 20px;
    margin: 20px;
}
.options-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}
.option button {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    text-align: center;
    width: 140px;
}
.option input[type="number"] {
    padding: 10px;
    font-size: 1.1rem;
    color: #1e3c72;
    background-color: bisque;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 80%;
    text-align: center;
}
.option {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;;
    transition: transform 0.2s;
    text-align: center;
    width: 140px;
    vertical-align: bottom;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    position: relative;
}
.option:hover {
    transform: scale(1.5s);
}
.option.selected {
    background: rgba(255, 255, 255, 0.3);
}

.characterImg {
    width: 280px;
    position: relative;
    left: -70px;
}

.piecesImg {
    width: 140px;
    position: relative;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 600px) {
    h1, h2 { font-size: 2rem; }
    p { font-size: 1rem; }
    button { font-size: 1rem; padding: 10px 20px; }
}